table {
    background-color: #388ABF;
    border: 1px solid #000;
    border-collapse: collapse;
    color: #FFB44B;
    margin: 30px auto;
    text-align: center;

    th {
        border: 1px solid #000;
        height: 60px;
        width: 140px;
    }

    tr {
        border: 1px solid #000;
        height: 60px;
        width: 140px;      
    }

    td {
        border: 1px solid #000;        
    }
}