table {
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 30px auto;

    th {
        border: 1px solid #000;
        height: 60px;
        width: 140px;
    }

    tr {
        border: 1px solid #000;
        height: 60px;
        width: 140px;      
    }

    td {
        border: 1px solid #000;        
    }
}